/*................................reset...........................................*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #F4F6ED;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*................................clearfix...........................................*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/*.........GLOBLE......*/

body {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
h2 {
	font-weight: 700;
	font-size: 28px;
	color: #565FF2;
	line-height: 34px;
	text-align: center;
}
h3 {
	font-weight: 700;
	font-size: 15px;
	color: #565FF2;
	line-height: 26px;
	text-align: center;
}
h4 {
	font-weight: 700;
	font-size: 15px;
	color: #CAFF54;
	line-height: 26px;
	text-align: center;
}

.navbar {
    background-color: #CAFF54;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 600;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.nav-link {
	color: #000000;
}

.navbar-nav .nav-item {
	margin-right: 30px;
}

.navbar-nav .nav-item:hover {
	background-color: #565FF2;
}

.navbar-nav .nav-item:hover .nav-link {
	color: #FFFFFF;
}

.navbar-toggler {
	border-color: #565FF2;
}

.navbar-toggler-icon {
	background-color: #CAFF54;
}

.ingressos-btn-navbar {
	background-color: #565FF2;
	color: #FFFFFF;
	padding: 0.375rem 0.75rem;
	text-decoration: none;
	border-radius: 0.25rem;
	margin-left: auto;
}
.ingressos-btn-navbar:hover {
	opacity: 0.8;
	background-color: #FFFFFF;
	color:#565FF2;
	text-decoration: none;
}


.ingressos-btn {
    background-color: #565FF2;
    color: #FFFFFF;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 0.25rem;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingressos-btn:hover {
	opacity: 0.8;
	background-color: #CAFF54;
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: center;
}

/* Create blank columns on each side */
.left-column,
.right-column {
	flex: 1;
}

/* Adjust width of the website content */
.website-content {
	flex: 2;
}

.text-box {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 20px;
    margin: auto;
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flex-container .img-fluid {
	border-radius: 0.25rem;
	padding: 20px;
}

.text-box-purple {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #565FF2;
    color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0.25rem;
	text-align: justify;;
}

.text-box-purple h4 {
    text-align: center;
}

.text-box-purple .img-logo {
    text-align: center;
	width: 100%;
}

.img-fluid {
    width: 100%;
    object-fit: cover;
}

.round-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.keynote-description {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
	text-align: justify;
}

.keynote-box {
    background-color: #565FF2;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.keynote-content {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}

.keynote-content h2 {
	color: #CAFF54;
}

.cronograma-box {
	background-color: #CAFF54;
	padding: 20px;
	display: flex;
	align-items: center;
	gap: 20px;
}

iframe {
	justify-content: center;
	display: block;
	margin: auto;

}

.map-box {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin: auto;
    overflow: hidden;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}


.footer {
    background-color: #565FF2;
    color: #FFFFFF;
    padding: 20px 0 0 0;
	text-align: center;
	border-radius: 0.25rem;
}

.footer-social-icons {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-link {
	padding-top: 10px;
    font-size: 25px;
	text-decoration: none;
	color: #CAFF54;
}
.email-link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.footer-links {
    text-align: left;
}
.footer-links a:hover {
	color: #FFFFFF;
}
.footer-links a {
    display: block;
    text-decoration: none;
    color: #CAFF54;
}
.footer p {
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer-social-icons li {
    margin-right: 10px;
}
.footer-social-icons a {
    text-decoration: none;
    font-size: 50px;
    color: #CAFF54;
}
.footer-social-icons a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.text-footer {
	box-sizing: border-box;
	width: 100%;
	background-color: #CAFF54;
	color: #565FF2;
	text-align: center;
	font-size: large;
	border-radius: 0.25rem;
}
.talk-content{
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	width: 90%; /* Define a largura como 50% da tela */
	margin-left: auto; /* Centraliza horizontalmente */
	margin-right: auto; /* Centraliza horizontalmente */
}
.speaker {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	width: 70%; /* Define a largura como 50% da tela */
	margin-left: auto; /* Centraliza horizontalmente */
	margin-right: auto; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona um preenchimento interno de 20 pixels */
}
.speaker h4{
	color: #565FF2;
}
.talk-left-content {
	text-align: center;
	flex: 1;
}
.talk-right-content {
	text-align: right;
	flex: 1;
}
.speaker-bio {
	display: flex; /* Define a bio como um flex container */
	align-items: center; /* Alinha os itens verticalmente */
	margin-left: 20px;
	font-size: 12px;
}
.speaker-bio p {
	margin: 0;
}
.speaker-name {
	font-size: 14px;
	margin-bottom: 5px;
}
.talk-resume {
	margin-top: 20px;
	font-size: 16px;
	text-align: center; /* Centraliza o resumo */
}
.talk-title {
	font-size: 22px;
	text-align: center; /* Centraliza o título */
	text-transform: uppercase;
}
.speaker-img {
	border-radius: 50%;
	width: 100px;
	height: auto;
	object-fit: cover;
}

.text-box-hotel {
    padding: 15px;
	background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 20px;
    margin: auto;
}

.text-box-hotel h4 {
	color: #565FF2;
}

.text-box-hotel h5 {
	font-weight: bold;
}

.talk-box {
background-color: #CAFF54;
padding: 20px;
align-items: center;
gap: 20px;
}

.talk-box p{
	color: #000000;
}

/* Tabelas */
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 6px 20px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 6px 20px;
    word-break: normal;
}

.tg .tg-o2sj {
    background-color: #565ff2;
    border-color: #ffffff;
    color: #caff54;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: -1px;
    vertical-align: middle;
    will-change: transform;
}

.tg .tg-4h11 {
    background-color: #565ff2;
    border-color: #ffffff;
    color: #caff54;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.tg .tg-3cyx {
    border-color: #ffffff;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
}

.tg .tg-44qx {
    border-color: #ffffff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.tg .tg-5ydw {
    border-color: #ffffff;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: -1px;
    vertical-align: top;
    will-change: transform;
}

.tg .tg-8pns {
    background-color: #caff54;
    border-color: #ffffff;
    color: #565ff2;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: -1px;
    vertical-align: top;
    will-change: transform;
}

.tg .tg-ct1n {
    background-color: #caff54;
    border-color: #ffffff;
    color: #565ff2;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.tg .tg-nlvd {
    background-color: #565ff2;
    border-color: #ffffff;
    text-align: center;
    vertical-align: middle;
}
