@keyframes ring {
    0% {
        height: 2rem;
        opacity: 1;
        width: 2rem;
    }
  
    to {
        height: calc(100% + .6rem);
        opacity: 0;
        width: calc(100% + .6rem)
    }
  }